html, body{
  font-family: Arial, sans-serif; 
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 32px;
}
#content {
  width: 66%;
  float: right;
}

#map-container {
  height: 100%;
  width: 33%;
  position: fixed;
 }

#map_canvas {
  height: 100%;
  width:  100%;
}
