body {
  height: auto;
  width: auto;
  padding: 25px;
  background-color: #E3EBF3;
  color: #071A2E ;
  font-family: "sans-serif";
}
#title {
  font-size: 36px;
  text-align: center;
  margin: 0 auto;
  border: 2px dotted #071A2E;
  border-radius: 16px;
  width: 300px;
  padding: 10px;
  margin-bottom: 15px;
}
#todo-header {
  font-size: 24px;
  text-align: center;
  width: 800px;
  margin: 0 auto;
  padding: 10px;
}
form {
  width: 800px;
  margin: 0 auto;
}
#user-todo {
  margin-left: 200px;
  font-size: 20px;
  width: 400px;
  height: 50px;
}
ul {
  list-style: none;
  padding: 12px;
  width: 250px;
  font-size: 19px;
  margin: 0 auto;
}
li {
  padding: 15px;
  border-radius: 7px;
  margin-left: 15px;
  margin-bottom: 5px;
  border: 2px dotted #071A2E;
}
#buttonContainer {
  width: 200px;
  margin: 0 auto;
}
button {
  margin-left: 65px;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  width: 90px;
  border-radius: 10px;
  background-color: #F1F4F7;
}

/* *********************** */
/*       MEDIA QUERY       */
/* *********************** */

@media only screen
  and (max-width: 480px),
  only screen and (max-width: 667px),
  only screen and (max-width: 480px) {

  #title {
    width: 300px;
    margin: 0 auto;
    border: 2px dotted #071A2E;
  }
  #todo-header {
    width: 300px;
    margin: 0 auto
  }
  #user-todo {
    margin: 0px;
    padding: 0;
    width: 300px;
    height: 50px;
  }
  form {
    width: 300px;
    margin: 0 auto;
  }
  li {
    border: 2px dotted #071A2E;
  }
}
