html, body { 
	height: 100%; 
	margin: 0px; 
	padding: 0px; 
	font-family: sans-serif;
	font-size: 16px;
	line-height: 32px;
}
#map_canvas{
	width: 80%;
	height: 100%;
	float: left;
}
#container{
	width: 20%;
	height: 100%;
	float: right;
}
.btn{
    width: 80%;
    height: 32px;
    background: #F0F0F0;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #aaa;
    border-radius: 0 4px 4px 0;
    margin: 8px 0;
}
.btn:hover{
	background: #E0E0E0;
}
.btn:active{
	background: #FDBF17;
}