html, body{
  font-family: Arial, sans-serif; 
}
#map_canvas {
  width: 98%;
  height: 600px;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #999;
  margin-left: auto;
  margin-right: auto;
}
.divtitle {
  margin: 280px auto;
  width : 160px;
}
.divborder {
  width: 98%;
  height: 40px;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #999;
  margin: 10px auto;
}
.divbtn {
  margin: 10px auto;
  width : 140px;
}