html, body {
  height: 100%; 
	margin: 0px; 
	padding: 0px; 
	font-size: 16px;
	line-height: 32px;
}

#map1, #map2 {
  height: 85%;
  width: 65%;
  margin: 0 auto;
}

.map-box1, .map-box2 {
  display: none;
}

.map-box1.active {
  display: block;
}

.map-box2.active {
  display: block;
}